body {
  font-family: sans-serif;
}

.swatch {
  //width: 200px;
  //height: 120px;
  //background-color: rgb(255, 255, 255);
  border-radius: 2px;
  padding: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
  grid-auto-rows: minmax(80px, auto);

}

p {
  margin: 0px;
}

.swatchText {
  font-size: 0.75rem;
  color: white;
}

.hueCell {
  //display: block;
}

.contrastCell {
  
}